<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div id="abc">
    <br>
    <br>
    <div class="head"><h1>ABOUT TravelLove❤️</h1></div>
</div>
<div class="main">


<div class="details">
    
        <h1>About TravelLove❤️.</h1>
    


        <p>
            Thanks so much for swinging by our little corner of the internet.<br> We’re so stoked that you found our site and want to know a bit more about us. 
           <br> So grab your favourite drink, pull up a chair and let us fill you in on just what the hell we are about.

        </p>

       
            <h1>What is this travel blog about?</h1>
            
        
        
         <p>
            That probably is the most obvious question, isn’t it? We started this website<br>
             at the end of 2013 as a way to document our overland journey from south to north without flying.<br> A few years later and this
             is now one of the most popular adventure travel blogs on the internet,<br> and we have to admit we’re pretty proud of that!
        </p>
       
        <p>
            We never thought this site would grow into what it is now, with the blog being our full-time jobs <br>
            and over 250’000 social media followers from around the world all checking in to see what’s <br>
            happening as we travel non-stop.
          </p>
      
       
            Want to keep up with us in real-time? Check us out on Social Media:
            <div class="social">
            <ul>

                <li>
                    <a href="https://twitter.com" target="_blank">
                      <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" alt="Twitter Logo" class="twitter-icon"></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/accounts/login/?hl=en" target="_blank">
                        <img src="https://www.mchenryvillage.com/images/instagram-icon.png" alt="Instagram Logo" class="instagram-icon"></a>
                    </li>


                   
                      <li>
                        <a href="https://www.facebook.com/login/" target="_blank">
                          <img src="http://www.iconarchive.com/download/i54037/danleech/simple/facebook.ico" alt="Facebook Logo" class="facebook-icon"></a>
                      </li>

                      <li>
                        <a href="https://www.youtube.com/" target="_blank">
                          <img src="https://lh3.googleusercontent.com/j_RwVcM9d47aBDW5DS1VkdxUYCkDUCB6wZglv4x-9SmsxO0VaFs7Csh-FmKRCWz9r_Ef=w170" alt="Youtube Logo" class="youtube-icon"></a>
                      </li>

                
             
            </ul>
        </div>
        <br>

        
     
</div>
<div class="img" >
    <img src="https://static.toiimg.com/thumb/msid-88054237,width-748,height-499,resizemode=4,imgsize-277958/.jpg"
      width="600" height="400">
      <p style="font-size: small ;">Our first photo:@Kerala</p>
</div>

<div class="center">
    <div class="pagination">
        <a routerLink="/home">&laquo;</a>
      
       <a routerLink="/home">1</a>
       <a routerLink="/about">2</a>
      <a routerLink="/destination">3</a>
    <a routerLink="/photo">4</a>
    <a routerLink="/contact">5</a>
    <a routerLink="/msg">6</a>
    
    <a routerLink="/destination">&raquo;</a>
</div>
</div>
<router-outlet></router-outlet>

<br><br><br><br>

</div>
</body>

</html>
