<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div id="abc">
 <br>
  <br>
    <div class="head"><h1>PHOTOGRAPHY</h1></div>
</div>

<div class="main">
<br><br>


<div class="details">
    
        <h1>Welcome to our travel photography blog.</h1>
    
        
       
        <p>
            Photos have the incredible ability to transport you to a place,<br>
             tell a story and provide inspiration, simply by capturing one moment in time.
      </p>
        
         <p>
            Our own love of travel photography started more than a decade ago, when<br>
             we first started exploring the world and turning to books and<br> magazines for inspiration on where to go next.
        </p>
       
        <p>
            Every day brings a new experience and a chance to learn, and we love<br>
             being able to bring our travels to life through images.
          </p><br> 
        </div>

<br>
</div>
<br>
<div>
  <h2 style="text-align: center;">Gallery</h2>
  <br>

  <div class="gallery">
    <a target="_blank" href="https://images.thrillophilia.com/image/upload/s--U9OKKmcC--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/077/799/original/1526288304_shutterstock_527473177.jpg.jpg?1526288304">
      <img src="https://images.thrillophilia.com/image/upload/s--U9OKKmcC--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/077/799/original/1526288304_shutterstock_527473177.jpg.jpg?1526288304">
    </a>
    <div class="desc">Shimala</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="https://images.thrillophilia.com/image/upload/s--bBRF-lgz--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/085/830/original/1525415163_shutterstock_462136018_(1).jpg.jpg?1525415163">
      <img src="https://images.thrillophilia.com/image/upload/s--bBRF-lgz--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/085/830/original/1525415163_shutterstock_462136018_(1).jpg.jpg?1525415163" >
    </a>
    <div class="desc">Manali</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="https://images.thrillophilia.com/image/upload/s--vMJx2HYF--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/021/438/original/1530789786_Coorg_Images.jpg.jpg?1530789786">
      <img src="https://images.thrillophilia.com/image/upload/s--vMJx2HYF--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/021/438/original/1530789786_Coorg_Images.jpg.jpg?1530789786">
    </a>
    <div class="desc">Coorg</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="https://images.thrillophilia.com/image/upload/s--ffVDhkoA--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/013/736/original/1463259871_ladakh.jpg.jpg?1463259871">
      <img src="https://images.thrillophilia.com/image/upload/s--ffVDhkoA--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/013/736/original/1463259871_ladakh.jpg.jpg?1463259871">
    </a>
    <div class="desc">Ladakh</div>
  </div>
  
  
  <div class="gallery">
    <a target="_blank" href="https://images.thrillophilia.com/image/upload/s--foelnLEh--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/013/604/original/agra-2.jpg.jpg?1458192596">
      <img src="https://images.thrillophilia.com/image/upload/s--foelnLEh--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/013/604/original/agra-2.jpg.jpg?1458192596">
    </a>
    <div class="desc">Agra</div>
  </div>
  
  
  <div class="gallery">
    <a target="_blank" href="https://images.thrillophilia.com/image/upload/s--ii9zTCYD--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/013/595/original/Mysore-Flickr.jpg.jpg?1458192645">
      <img src="https://images.thrillophilia.com/image/upload/s--ii9zTCYD--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/013/595/original/Mysore-Flickr.jpg.jpg?1458192645">
    </a>
    <div class="desc">Mysore</div>
  </div>
  
  
  <div class="gallery">
    <a target="_blank" href="https://images.thrillophilia.com/image/upload/s--oAt1mryM--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/052/793/original/1556370242_shutterstock_780181144.jpg.jpg?1556370242">
      <img src="https://images.thrillophilia.com/image/upload/s--oAt1mryM--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/052/793/original/1556370242_shutterstock_780181144.jpg.jpg?1556370242">
    </a>
    <div class="desc">Jaipur</div>
  </div>
  
  
  <div class="gallery">
    <a target="_blank" href="https://images.thrillophilia.com/image/upload/s--gUcYpVGG--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/019/892/original/1510732217_82bedd2ddd0e26b92bf0a831069959e4.jpg.jpg?1510732217">
      <img src="https://images.thrillophilia.com/image/upload/s--gUcYpVGG--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/019/892/original/1510732217_82bedd2ddd0e26b92bf0a831069959e4.jpg.jpg?1510732217">
    </a>
    <div class="desc">North Goa</div>
  </div>
  
  
  <div class="gallery">
    <a target="_blank" href="https://images.thrillophilia.com/image/upload/s--53IIO9nL--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/075/465/original/Khandala.jpg.jpg?1461767413">
      <img src="https://images.thrillophilia.com/image/upload/s--53IIO9nL--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/075/465/original/Khandala.jpg.jpg?1461767413">
    </a>
    <div class="desc">Lonavala</div>
  </div>
  <br><br><br>

<div class="center">

  <div id="slider" style="height: 50%;width: 50%;margin: auto;">

    <h1 style="text-align: center;">Photos</h1>
    <figure>
    <img src="https://images.unsplash.com/photo-1566560073340-0ee82cb29074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGFkYWtofGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt>
    <img src="https://cdn.pixabay.com/photo/2017/05/09/03/46/alberta-2297204_960_720.jpg" alt>
    <img src="https://cdn.pixabay.com/photo/2016/04/18/22/05/seashells-1337565_960_720.jpg" alt>
    <img src="https://cdn.pixabay.com/photo/2017/12/15/13/51/polynesia-3021072_960_720.jpg" alt>
    <img src="https://cdn.wallpapersafari.com/28/80/yTVaEN.jpg" alt>
    </figure>
  </div>
    
  </div>





<br><br>
  <div class="center">
    <div class="pagination">
        <a routerLink="/destination">&laquo;</a>
      
       <a routerLink="/home">1</a>
       <a routerLink="/about">2</a>
      <a routerLink="/destination">3</a>
    <a routerLink="/photo">4</a>
    <a routerLink="/contact">5</a>
    <a routerLink="/msg">6</a>
    
    <a routerLink="/contact">&raquo;</a>
</div>
</div>
<router-outlet></router-outlet>

<br><br><br><br>


  </div>

</body>

</html>