<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="abc">
<br>
<br>
    <div class="head"><h1>Contact Us</h1></div>
</div>

    

<div class="m1">
    <div class="container">  
        <form id="contact" action="" method="post">
          <h3> TravelLove❤️</h3>
          <h4>Contact us </h4>




          <fieldset>
            <input placeholder="Your name" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Your Email Address" type="email" tabindex="2" required>
          </fieldset>
          <fieldset>
            <label name="BOD">Appoinment Date    </label>
          <input type="date" id="start" name="trip-start"
       value="2020-12-21">
          </fieldset>
          <fieldset>
            <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
          </fieldset>
          <fieldset>
            <input placeholder="Your Address(optional)" type="url" tabindex="4" required>
          </fieldset>
          <fieldset>
            <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
         


        </form>
      </div>

      <div class="m1">
        <h1 style="text-align: center;">Location</h1>
        <div class="map" style="margin: auto; height: 50%;width: 50%;">
        <iframe width="100%" height="360" marg frameborder="0" scrolling="no" marginheight="auto" marginwidth="auto" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Pune%20+(blog)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
          <a href="https://www.gps.ie/sport-gps/">gps</a>
        </iframe>
      </div>
      </div>

      <div class="center">
        <div class="pagination">
            <a routerLink="/photo">&laquo;</a>
          
           <a routerLink="/home">1</a>
           <a routerLink="/about">2</a>
          <a routerLink="/destination">3</a>
        <a routerLink="/photo">4</a>
        <a routerLink="/contact">5</a>
        <a routerLink="/msg">6</a>
        
        <a routerLink="/msg">&raquo;</a>
    </div>
  </div>
    <router-outlet></router-outlet>
  
  <br><br><br><br>

</div>

    </body>
    </html>
